.table-infos {
  .p-datatable .p-datatable-thead>tr>th {
    background: none;
    border: none;
    color: var(--pastel1);
  }

  .p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead,
  .p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tfoot,
  .p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-scroller-viewport>.p-scroller>.p-datatable-table>.p-datatable-thead,
  .p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-scroller-viewport>.p-scroller>.p-datatable-table>.p-datatable-tfoot {
    background: none;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: var(--pastel1);
  }

  .p-datatable .p-datatable-tbody>tr {
    background: var(--pastel4);
    border: none;
    color: var(--pastel1);
  }

  .p-datatable .p-datatable-tbody>tr>td {
    border: none;
  }

  .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
    background-color: var(--pastel1);
    color: var(--pastel4);
  }
}