<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmPopup></p-confirmPopup>
<section [className]="getTheme()">
  <section class="w-full flex flex-column h-screen home">
    <section class="toolbar">
      <p class="text-2xl title md:text-3xl m-0 font-bold ">{{title}}</p>
      <section class="flex align-items-center gap-2">
        <span (click)="isDark = !isDark" class="font-bold text-blue-500 cursor-pointer text-xl">
          <i class="bi" [className]="getIcon(true)"></i>
        </span>
        <a class="font-bold text-blue-500 cursor-pointer text-2xl" [href]="link_table" target="_blank"
          rel="noopener noreferrer">
          <i class="bi bi-link-45deg"></i>
        </a>
        <span (click)="openModal = true" class="font-bold text-blue-500 cursor-pointer text-xl">
          <i class="bi bi-info-circle"></i>
        </span>
      </section>
    </section>
    <section class="h-full">
      <section class="form-input">
        <section class="input w-full md:w-6">
          <input pTooltip="Marque o checkbox para utilizar ASCII Extends" class="txt" type="text"
            [(ngModel)]="inputValue" placeholder="Insira os caracteres" tooltipPosition="left">
          <p-checkbox pTooltip="Utilizar ASCII - Extends" [(ngModel)]="isAscExtends" [binary]="true"
            inputId="binary"></p-checkbox>
          <button (click)="initConverter()" class="btn-form">
            <i class="bi" [className]="getIcon()"></i>
          </button>
        </section>
      </section>
      <section class="infos">
        <p class="m-0 pt-1 font-bold text-sm md:hidden">Marque o checkbox para utilizar ASCII Extends</p>
      </section>
      <section *ngIf="init" class="result">
        <section class="card w-full">
          <p>{{invalidCharactersStack}}</p>
        </section>
      </section>
    </section>
  </section>
</section>