<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<section class="w-full justify-content-between flex flex-column gap-2 px-2 h-full text-color">
  <section class="w-full h-full">
    <section class="w-full py-2 flex flex-column align-items-center capitalize">
      <p class="text-2xl pb-1 md:text-3xl m-0 font-bold ">{{title}}</p>
      <section class="flex gap-2">
        <p-chip label="hex"></p-chip>
        <p-chip label="binary"></p-chip>
        <p-chip label="decimal"></p-chip>
        <p-chip label="octal"></p-chip>
      </section>
    </section>
    <section class="w-full py-2 gap-2 flex flex-column align-items-center">
      <section class="form md:w-6 w-full">
        <span class="p-float-label w-full">
          <input class="w-full" pInputText id="txt" [(ngModel)]="value" (ngModelChange)="onInputChange($event)" />
          <label for="txt">Insira os caracteres</label>
        </span>
        <p-button *ngIf="value !== null && !init" severity="success" [disabled]="value == null"
          (onClick)="confirm($event)" icon="pi pi-check" size="small">
          <span class="px-1 font-medium"><i class="bi bi-caret-right-fill"></i></span>
        </p-button>
        <p-button *ngIf="value !== null" [disabled]="value == null" (onClick)="reload()" severity="info"
          icon="pi pi-check" size="small">
          <span class="px-1"><i class="bi bi-arrow-clockwise"></i></span>
        </p-button>
      </section>
      <section *ngIf="msg !== null" class="md:w-6 border-red-500 border-1 border-round w-full">
        <p class="px-2 font-medium">
          Os caracteres [<strong>{{msg}}</strong>] não pertencem à tabela <strong>ASCII</strong>.
        </p>
      </section>
    </section>
  </section>
  @if (init) {
  <section class="w-full h-full">
    <section class="flex gap-2 justify-content-end">
      <span (click)="visible = true" class="font-bold text-blue-500 cursor-pointer text-2xl">
        <i class="bi bi-info-circle-fill"></i>
      </span>
      <a class="font-bold text-blue-500 cursor-pointer text-2xl" href="https://www.asciitable.com/" target="_blank"
        rel="noopener noreferrer">
        <i class="bi bi-link-45deg"></i>
      </a>
      <span (click)="init = false; value = null" class="font-bold text-orange-500 cursor-pointer text-2xl">
        <i class="bi bi-x-circle"></i>
      </span>
    </section>
    <app-table [value]="validCharacters"></app-table>
  </section>
  }
</section>
<p-dialog [resizable]="true" [maximizable]="true" [modal]="true" header="Informações" [(visible)]="visible"
  styleClass="w-10 md:w-6 md:h-auto">
  <p-tabView>
    <p-tabPanel header="Tabela AscII">
      <section class="w-full dial">
        <app-infos></app-infos>
      </section>
    </p-tabPanel>
    <p-tabPanel header="Caracteres de controle">
      <section class="w-full dial">
        <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
          <ol>
            @for (item of caracInfos; track $index) {
            <li class="list-disc">
              <span class="font-bold">{{item.nome}} - </span>
              <span class="font-semibold">{{item.fullNome}} : </span>
              <span class="text-secundary text-sm">{{item.descricao}}</span>
            </li>
            }
          </ol>
        </p-scrollPanel>
      </section>
    </p-tabPanel>
    <p-tabPanel header="Outras infos">
      <section class="w-full dial">
        <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
          <ol>
            @for (item of outrasInfos; track $index) {
            <li class="list-disc">
              <span class="font-bold">{{item.nome}} - </span>
              <span class="text-secundary text-sm">{{item.descricao}}</span>
            </li>
            }
          </ol>
        </p-scrollPanel>
      </section>
    </p-tabPanel>
  </p-tabView>
</p-dialog>